/* 静态文件导入 自定义样式*/

#theme-fukasawa .sideLeft hr{
    opacity: .04;
}
.fa-info:before {
    content: "\f05a";
}

svg>g{
  
      transform-box:fill-box;
      transform-origin: center center;
}

#wrapper {
    background-image:url(/Site-background-dark.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#header > div > div.font-black.text-4xl.md\:text-5xl.shadow-text.ml-40{font-size:100px;}
    
[id^="theme-"] {
    font-family: LXGW WenKai;
}

#container > div.mt-10.mb-5.flex.justify-center.items-end.font-medium.bg-gray-400.duration-500.py-3.space-x-2 > a.font-bold.bg-indigo-400.hover\:bg-gray-500.dark\:bg-indigo-500.text-white.duration-500.hover\:font-bold.hover\:text-white.cursor-pointer.pb-0\.5.w-6.text-center
#container > div.mt-10.mb-5.flex.justify-center.items-end.font-medium.bg-gray-400.duration-500.py-3.space-x-2 > a.border-b.border-indigo-400.text-indigo-400.hover\:bg-gray-500.hover\:bg-indigo-400.duration-500.hover\:font-bold.hover\:text-white.cursor-pointer.pb-0\.5.w-6.text-center
#container > div.mt-10.mb-5.flex.justify-center.items-end.font-medium.bg-gray-400.duration-500.py-3.space-x-2 > a.block.pb-0\.5.hover\:bg-gray-500.hover\:text-white.w-6.text-center.cursor-pointer.duration-200.hover\:font-bold
